.wp-block-quote {
	margin: 0;

	// compensate nested blocks for collapsing margins
	padding-top: 1px;
	padding-bottom: 1px;

	cite {
		display: block;
	}
}

.wp-block-quote:not(.is-large) {
	border-left: 4px solid $black;
	padding-left: 1em;
}