.wp-block-table {
	td,
	th {
		padding: 0.5em;
		border: 1px solid currentColor;
		margin-bottom: -1px;

		/*&:last-child {
			margin-bottom: inherit;
		}*/
	}

	td[data-mce-selected="1"], th[data-mce-selected="1"] {
		background-color: $light-gray-500;
	}

	// Responsive stacking
	@include break-small-only() {
		overflow-x: inherit;

		// Collapse rows
		tr,
		td,
		th {
			display: block;

			// These, unfortunately, have to be !important in order to override the resizer tool
			width: 100% !important;
			height: auto !important;
		}

		tr + tr {
			margin-top: 1em;
		}
	}

	// Fixed layout toggle
	&.has-fixed-layout table {
		table-layout: fixed;
	}
}

// Style the resize handles
.ephox-snooker-resizer-rows {
	cursor: row-resize;
}

.ephox-snooker-resizer-cols {
	cursor: col-resize;
}

.ephox-snooker-resizer-bar-dragging {
	background: $blue-medium-500;
}