.components-menu-item__button,
.components-menu-item__button.components-icon-button {
	width: 100%;
	padding: 8px;
	text-align: left;
	padding-left: 25px;
	color: $dark-gray-500;
	@include menu-style__neutral;

	.dashicon,
	.components-menu-items__item-icon {
		margin-right: 5px;
	}

	.components-menu-items__item-icon {
		display: inline-block;
		flex: 0 0 auto;
	}

	&.has-icon {
		padding-left: 0;
	}

	&:not( :disabled ):not( [aria-disabled="true"] ):hover {
		@include menu-style__hover;
	}

	&:not( :disabled ):not( [aria-disabled="true"] ):focus {
		@include menu-style__focus;
	}
}

.components-menu-item__shortcut {
	float: right;
	opacity: .5;
}
